
.App {
  padding: 30px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
ul {
  margin: 0;
}
h3 {
  margin-top: 0;
}
btn {
  display: block;
  padding: 0.5rem 2rem;
}

